button-like-element()
  width: auto
  height: auto
  margin: 0
  display: inline-flex
  align-items: center
  justify-content: center
  gap: (spacer / 2)
  flex: none
  background: transparent
  outline: none
  text-decoration: none
  transition: action-element-transition
  color: base-link


button-base()
  button-like-element()

  cursor: pointer
  border-color: transparent
  border-width: base-border-width
  border-style: base-border-style
  border-radius: base-border-radius

  &:focus
    box-shadow: ui-button-active-shadow alpha(base-link, .75)

  &:hover
    color: inherit

  &:active
    color: inherit

  &:disabled, &.disabled
    opacity: .75
    cursor: not-allowed


button-size-variant(minSize, btnPadding, fontSize, lineHeight)
  min-width: minSize
  min-height: minSize
  padding: btnPadding
  font-size: fontSize
  line-height: lineHeight


button-color-variant(
  btnBg, btnColor, btnBorder,
  hoverBg, hoverColor, hoverBorder,
  activeBg, activeColor, activeBorder,
  disabledBg, disabledColor, disabledBorder
)
  background-color: btnBg
  color: btnColor
  border-color: btnBorder

  &:hover
    background-color: hoverBg
    color: hoverColor
    border-color: hoverBorder

  &:active
    background-color: activeBg
    color: activeColor
    border-color: activeBorder

  &:focus
    box-shadow: 0 0 .025rem .125rem alpha(darken(btnBorder, 25%), .5)

  &:disabled, &.disabled
    background-color: disabledBg
    color: disabledColor
    border-color: disabledBorder
