button-like-element()
  width: auto
  height: auto
  margin: 0
  display: inline-flex
  align-items: center
  justify-content: center
  background: transparent
  outline: none
  text-decoration: none
  transition: border-color base-transition-duration ease-in-out base-transition-delay, color base-transition-duration ease-in-out base-transition-delay, background-color base-transition-duration ease-in-out base-transition-delay
  color: base-link

  &:hover
    color: inherit

  &:active
    color: inherit

  &:disabled, &.disabled
    opacity: .75
    cursor: not-allowed


button-base()
  button-like-element()

  cursor: pointer
  border-color: transparent
  border-width: base-border-width
  border-style: base-border-style
  border-radius: base-border-radius

  & > span
    display: flex
    align-items: center
    justify-content: space-between
    color: inherit
    text-truncate()

  &:focus
    box-shadow: ui-button-active-shadow alpha(base-link, .75)


button-size-variant(minSize, padding, fontSize, lineHeight)
  min-width: minSize
  min-height: minSize
  padding: padding
  font-size: fontSize
  line-height: lineHeight


button-color-variant(
  bg, color, border,
  hoverBg, hoverColor, hoverBorder,
  activeBg, activeColor, activeBorder,
  disabledBg, disabledColor, disabledBorder
)
  background-color: bg
  color: color
  border-color: border

  &:hover
    background-color: hoverBg
    color: hoverColor
    border-color: hoverBorder

  &:active
    background-color: activeBg
    color: activeColor
    border-color: activeBorder

  &:focus
    box-shadow: 0 0 .025rem .125rem alpha(darken(border, 25%), .5)

  &:disabled, &.disabled
    background-color: disabledBg
    color: disabledColor
    border-color: disabledBorder
