card-base(margin, padding)
  width: 100%
  height: auto
  margin: margin
  padding: padding
  display: flex
  flex-direction: column
  border-color: palette-default
  border-width: base-border-width
  border-style: base-border-style
  border-radius: base-border-radius

card-block-base(padding)
  width: 100%
  padding: padding
  display: flex
  align-items: center
  justify-content: space-between

card-body-base(padding)
  width: 100%
  padding: padding
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex: 1
