chip-base()
  width: auto
  height: auto
  margin: 0
  display: inline-flex
  align-items: center
  justify-content: center
  flex: none
  background: transparent
  outline: none
  color: inherit
  border-color: transparent
  border-width: base-border-width
  border-style: base-border-style

  a&
    text-decoration: none
    color: base-link
    cursor: pointer

    &:hover
      text-decoration: underline


chip-size-variant(minSize, chipPadding, fontSize, lineHeight)
  min-width: minSize
  min-height: minSize
  padding: chipPadding
  font-size: fontSize
  line-height: lineHeight
  border-radius: minSize

chip-color-variant(
  chipBg, chipColor, chipBorder,
  hoverBg, hoverColor, hoverBorder,
  activeBg, activeColor, activeBorder,
  disabledBg, disabledColor, disabledBorder
)
  background-color: chipBg
  color: chipColor
  border-color: chipBorder

  a&
    transition: action-element-transition

    &:hover
      background-color: hoverBg
      color: hoverColor
      border-color: hoverBorder

    &:active
      background-color: activeBg
      color: activeColor
      border-color: activeBorder

    &:focus
      box-shadow: 0 0 .025rem .125rem alpha(darken(chipBorder, 25%), .5)

    &.disabled
      background-color: disabledBg
      color: disabledColor
      border-color: disabledBorder
