chip-base(minSize, padding, fontSize, lineHeight)
  base-element(padding)

  min-width: minSize
  min-height: minSize
  font-size: fontSize
  line-height: lineHeight

  a&
    text-decoration: none
    cursor: pointer
