base-element(padding = 0)
  width: auto
  height: auto
  margin: 0
  padding: padding
  display: inline-flex
  align-items: center
  justify-content: center
  color: inherit
  background: transparent
  border: 0
  outline: none


button-like-element(padding = 0)
  base-element(padding)

  text-decoration: none
  transition: border-color base-transition-duration ease-in-out base-transition-delay, color base-transition-duration ease-in-out base-transition-delay, background-color base-transition-duration ease-in-out base-transition-delay

  &:hover
    color: inherit

  &:active
    color: inherit

  &:disabled, &.disabled
    opacity: .75
    cursor: not-allowed


button-base(minSize, padding, fontSize, lineHeight)
  button-like-element(padding)

  min-width: minSize
  min-height: minSize
  font-size: fontSize
  font-weight: bold
  line-height: lineHeight
  cursor: pointer


chip-base(minSize, padding, fontSize, lineHeight)
  base-element(padding)

  min-width: minSize
  min-height: minSize
  font-size: fontSize
  line-height: lineHeight

  a&
    text-decoration: none
    cursor: pointer


card-base(margin, padding)
  width: 100%
  height: auto
  margin: margin
  padding: padding
  display: flex
  flex-direction: column

  border-color: palette-default
  border-width: base-border-width
  border-style: base-border-style
  border-radius: base-border-radius


card-block-base(padding)
  width: 100%
  padding: padding
  display: flex
  align-items: center
  justify-content: space-between

card-body-base(padding)
  width: 100%
  padding: padding
  display: flex
  align-items: flex-start
  justify-content: flex-start

