flex-direction-scope(value)
  {utilities-flex-direction-property}: value !important

flex-justify-content-scope(value)
  {utilities-flex-justify-content-property}: value !important

flex-justify-items-scope(value)
  {utilities-flex-justify-items-property}: value !important

flex-justify-self-scope(value)
  {utilities-flex-justify-self-property}: value !important

flex-align-content-scope(value)
  {utilities-flex-align-content-property}: value !important

flex-align-items-scope(value)
  {utilities-flex-align-items-property}: value !important

flex-align-self-scope(value)
  {utilities-flex-align-self-property}: value !important

flex-fill-scope()
  {utilities-flex-fill-property}: utilities-flex-fill-value !important

flex-grow-scope(value)
  {utilities-flex-grow-property}: value !important

flex-shrink-scope(value)
  {utilities-flex-shrink-property}: value !important

flex-wrap-scope(value)
  {utilities-flex-wrap-property}: value !important

flex-order-scope(value)
  {utilities-flex-order-property}: value !important

flex-gap-scope(value)
  {utilities-flex-gap-property}: getRemValue(value) !important
