flex-direction-scope(value)
  flex-direction: value !important

flex-justify-content-scope(value)
  justify-content: value !important

flex-justify-items-scope(value)
  justify-items: value !important

flex-align-content-scope(value)
  align-content: value !important

flex-align-items-scope(value)
  align-items: value !important

flex-align-self-scope(value)
  align-self: value !important

flex-justify-self-scope(value)
  justify-self: value !important

flex-fill-scope()
  flex: 1 1 auto !important

flex-grow-scope(value)
  flex-grow: value !important

flex-shrink-scope(value)
  flex-shrink: value !important

flex-wrap-scope(value)
  flex-wrap: value !important

flex-order-scope(value)
  order: value !important
