float-scope(value)
  .{prefix-float}-{value}
    float: value !important

float-responsive-scope(value, key, width)
  @media screen and (min-width: width)
    .{prefix-float}-{key}-{value}
      float: value !important
