margin-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  margin: val !important


margin-top-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  margin-top: val !important


margin-right-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  margin-right: val !important


margin-bottom-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  margin-bottom: val !important


margin-left-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  margin-left: val !important


margin-y-scope(value, negative = false)
  margin-top-scope(value, negative)
  margin-bottom-scope(value, negative)


margin-x-scope(value, negative = false)
  margin-left-scope(value, negative)
  margin-right-scope(value, negative)
