padding-scope(value)
  padding: getRemValue(value) !important


padding-top-scope(value)
  padding-top: getRemValue(value) !important


padding-right-scope(value)
  padding-right: getRemValue(value) !important


padding-bottom-scope(value)
  padding-bottom: getRemValue(value) !important


padding-left-scope(value)
  padding-left: getRemValue(value) !important


padding-y-scope(value)
  padding-top-scope(value)
  padding-bottom-scope(value)


padding-x-scope(value)
  padding-left-scope(value)
  padding-right-scope(value)
