width-scope(value, unit = '')
  width: getWidthValue(value, unit) !important

height-scope(value, unit = '')
  height: getHeightValue(value, unit) !important

min-width-scope(value, unit = '')
  min-width: getWidthValue(value, unit) !important

min-height-scope(value, unit = '')
  min-height: getHeightValue(value, unit) !important

max-width-scope(value, unit = '')
  max-width: getWidthValue(value, unit) !important

max-height-scope(value, unit = '')
  max-height: getHeightValue(value, unit) !important
