width-scope(value, unit = '')
  {utilities-sizing-width-property}: getWidthValue(value, unit) !important

height-scope(value, unit = '')
  {utilities-sizing-height-property}: getHeightValue(value, unit) !important

min-width-scope(value, unit = '')
  {utilities-sizing-min-width-property}: getWidthValue(value, unit) !important

min-height-scope(value, unit = '')
  {utilities-sizing-min-height-property}: getHeightValue(value, unit) !important

max-width-scope(value, unit = '')
  {utilities-sizing-max-width-property}: getWidthValue(value, unit) !important

max-height-scope(value, unit = '')
  {utilities-sizing-max-height-property}: getHeightValue(value, unit) !important
