margin-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  {utilities-spacing-margin-property}: val getImportantSuffix()


margin-top-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  {utilities-spacing-margin-property}-top: val getImportantSuffix()


margin-right-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  {utilities-spacing-margin-property}-right: val getImportantSuffix()


margin-bottom-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  {utilities-spacing-margin-property}-bottom: val getImportantSuffix()


margin-left-scope(value, negative = false)
  val = getRemValue(value)

  if negative
    val = getNegativeValue(val)

  {utilities-spacing-margin-property}-left: val getImportantSuffix()


margin-y-scope(value, negative = false)
  margin-top-scope(value, negative)
  margin-bottom-scope(value, negative)


margin-x-scope(value, negative = false)
  margin-left-scope(value, negative)
  margin-right-scope(value, negative)


padding-scope(value)
  {utilities-spacing-padding-property}: getRemValue(value) getImportantSuffix()


padding-top-scope(value)
  {utilities-spacing-padding-property}-top: getRemValue(value) getImportantSuffix()


padding-right-scope(value)
  {utilities-spacing-padding-property}-right: getRemValue(value) getImportantSuffix()


padding-bottom-scope(value)
  {utilities-spacing-padding-property}-bottom: getRemValue(value) getImportantSuffix()


padding-left-scope(value)
  {utilities-spacing-padding-property}-left: getRemValue(value) getImportantSuffix()


padding-y-scope(value)
  padding-top-scope(value)
  padding-bottom-scope(value)


padding-x-scope(value)
  padding-left-scope(value)
  padding-right-scope(value)
