text-align-scope(value)
  {props-text-align-property}: value !important


text-decoration-scope(value)
  {props-text-decoration-property}: value !important


text-justify-scope(value)
  {props-text-justify-property}: value !important


text-overflow-scope(value)
  {props-text-overflow-property}: value !important


text-transform-scope(value)
  {props-text-transform-property}: value !important


white-space-scope(value)
  {props-text-white-space-property}: value !important


word-break-scope(value)
  {props-text-word-break-property}: value !important


word-wrap-scope(value)
  {props-text-word-wrap-property}: value !important


text-truncate()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
