text-align-scope(value)
  {utilities-text-align-property}: value getUtilitiesImportantSuffix()


text-decoration-scope(value)
  {utilities-text-decoration-property}: value getUtilitiesImportantSuffix()


text-justify-scope(value)
  {utilities-text-justify-property}: value getUtilitiesImportantSuffix()


text-overflow-scope(value)
  {utilities-text-overflow-property}: value getUtilitiesImportantSuffix()


text-transform-scope(value)
  {utilities-text-transform-property}: value getUtilitiesImportantSuffix()


white-space-scope(value)
  {utilities-text-white-space-property}: value getUtilitiesImportantSuffix()


word-break-scope(value)
  {utilities-text-word-break-property}: value getUtilitiesImportantSuffix()


word-wrap-scope(value)
  {utilities-text-word-wrap-property}: value getUtilitiesImportantSuffix()


text-truncate()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
