for prop in (none initial inherit)
  .{prefix-background}-{prop}
    background-scope(prop, prop)

for prop, value in palette
  for num in (1..10)
    .{prefix-background}-{prop}-{num}
      background-scope(prop, value, num)
