for prop in (none initial inherit)
  .{prefix-background}-{prop}
    background-scope(prop)

for prop, value in palette
  .{prefix-background}-{prop}
    background-scope(value, num)

  for num in (1..9)
    .{prefix-background}-{prop}-{num}
      background-scope(value, num)
