if (utilities-enabled && utilities-background-enabled)
  for prop in (utilities-background-values)
    .{prefix-global}{utilities-background-class}-{prop}
      background-scope(prop)

  for prop, value in palette
    .{prefix-global}{utilities-background-class}-{prop}
      background-scope(value, num)

    for num in (utilities-background-list_min..utilities-background-list_max)
      .{prefix-global}{utilities-background-class}-{prop}-{num}
        background-scope(value, num)
