if (utilities-enabled && utilities-color-enabled)
  for prop in (utilities-color-values)
    .{prefix-global}{utilities-color-class}-{prop}
      color-scope(prop)

  for key, value in palette
    .{prefix-global}{utilities-color-class}-{key}
      color-scope(value)

    for prop in (utilities-color-list_min..utilities-color-list_max)
      .{prefix-global}{utilities-color-class}-{key}-{prop}
        color-scope(value, prop)
