for prop in (initial inherit)
  .{prefix-global}{props-color-class}-{prop}
    color-scope(prop)

for key, value in palette
  .{prefix-global}{props-color-class}-{key}
    color-scope(value)

  for prop in (props-color-counter_min..props-color-counter_max)
    .{prefix-global}{props-color-class}-{key}-{prop}
      color-scope(value, prop)