for prop in (inherit none inline inline-block block grid table table-cell table-row flex inline-flex)
  .{prefix-display}-{prop}
    display-scope(prop)

  for key, value in breakpoints
    @media screen and (min-width: value)
      .{prefix-display}-{key}-{prop}
        display-scope(prop)

  @media print
    .{prefix-display}-{prefix-print}-{prop}
      display-scope(prop)
