display-responsive-scope(key)
  if (utilities-enabled && utilities-display-enabled && utilities-display-responsive)
    for prop in (utilities-display-values)
      .{prefix-global}{utilities-display-class}-{key}-{prop}
        display-scope(prop)
