for prop in (props-float-values)
  .{props-float-class}-{prop}
    float-scope(prop)

  for key, value in breakpoints
    @media screen and (min-width: value)
      .{props-float-class}-{key}-{prop}
        float-scope(prop)
