for prop in (none left right initial inherit)
  .{prefix-float}-{prop}
    float-scope(prop)

  for key, value in breakpoints
    @media screen and (min-width: value)
      .{prefix-float}-{key}-{prop}
        float-scope(prop)
