for prop in (props-sizing-width-values)
  .{props-sizing-width-class}-{prop}
    width-scope(prop)

for prop in (props-sizing-height-values)
  .{props-sizing-height-class}-{prop}
    height-scope(prop)

for prop in (props-sizing-viewport-width-values)
  .{props-sizing-viewport-width-class}-{prop}
    width-scope(prop)

for prop in (props-sizing-viewport-height-values)
  .{props-sizing-viewport-height-class}-{prop}
    height-scope(prop)

for prop in (props-sizing-min-width-values)
  .{props-sizing-min-width-class}-{prop}
    min-width-scope(prop)

for prop in (props-sizing-min-height-values)
  .{props-sizing-min-height-class}-{prop}
    min-height-scope(prop)

for prop in (props-sizing-max-width-values)
  .{props-sizing-max-width-class}-{prop}
    max-width-scope(prop)

for prop in (props-sizing-max-height-values)
  .{props-sizing-max-height-class}-{prop}
    max-height-scope(prop)

for prop in (props-sizing-values)
  .{props-sizing-width-class}-{prop}
    width-scope(prop, '%')

  .{props-sizing-height-class}-{prop}
    height-scope(prop, '%')

  .{props-sizing-viewport-width-class}-{prop}
    width-scope(prop, 'vw')

  .{props-sizing-viewport-height-class}-{prop}
    height-scope(prop, 'vh')

  .{props-sizing-min-width-class}-{prop}
    min-width-scope(prop, '%')

  .{props-sizing-min-height-class}-{prop}
    min-height-scope(prop, '%')

  .{props-sizing-max-width-class}-{prop}
    max-width-scope(prop, '%')

  .{props-sizing-max-height-class}-{prop}
    max-height-scope(prop, '%')

  .{props-sizing-min-viewport-width-class}-{prop}
    min-width-scope(prop, 'vw')

  .{props-sizing-min-viewport-height-class}-{prop}
    min-height-scope(prop, 'vh')

  .{props-sizing-max-viewport-width-class}-{prop}
    max-width-scope(prop, 'vw')

  .{props-sizing-max-viewport-height-class}-{prop}
    max-height-scope(prop, 'vh')
