for prop in (utilities-spacing-margin-values)
  .{prefix-global}{utilities-spacing-margin-class}-{prop}
    margin-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-top}-{prop}
    margin-top-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-right}-{prop}
    margin-right-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-bottom}-{prop}
    margin-bottom-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-left}-{prop}
    margin-left-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-x}-{prop}
    margin-x-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-y}-{prop}
    margin-y-scope(prop)


for prop in (utilities-spacing-padding-values)
  .{prefix-global}{utilities-spacing-padding-class}-{prop}
    padding-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-top}-{prop}
    padding-top-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-right}-{prop}
    padding-right-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-bottom}-{prop}
    padding-bottom-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-left}-{prop}
    padding-left-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-x}-{prop}
    padding-x-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-y}-{prop}
    padding-y-scope(prop)


for prop in (utilities-spacing-counter_min..utilities-spacing-counter_max)
  .{prefix-global}{utilities-spacing-margin-class}-{prop}
    margin-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-top}-{prop}
    margin-top-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-right}-{prop}
    margin-right-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-bottom}-{prop}
    margin-bottom-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-left}-{prop}
    margin-left-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-x}-{prop}
    margin-x-scope(prop)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-y}-{prop}
    margin-y-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}-{prop}
    padding-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-top}-{prop}
    padding-top-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-right}-{prop}
    padding-right-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-bottom}-{prop}
    padding-bottom-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-left}-{prop}
    padding-left-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-x}-{prop}
    padding-x-scope(prop)

  .{prefix-global}{utilities-spacing-padding-class}{suffix-y}-{prop}
    padding-y-scope(prop)


for prop in (utilities-spacing-margin-counterNeg_min..utilities-spacing-margin-counterNeg_max)
  .{prefix-global}{utilities-spacing-margin-class}-{suffix-negative}{prop}
    margin-scope(prop, true)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-top}-{suffix-negative}{prop}
    margin-top-scope(prop, true)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-right}-{suffix-negative}{prop}
    margin-right-scope(prop, true)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-bottom}-{suffix-negative}{prop}
    margin-bottom-scope(prop, true)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-left}-{suffix-negative}{prop}
    margin-left-scope(prop, true)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-x}-{suffix-negative}{prop}
    margin-x-scope(prop, true)

  .{prefix-global}{utilities-spacing-margin-class}{suffix-y}-{suffix-negative}{prop}
    margin-y-scope(prop, true)
