for prop in (props-spacing-margin-values)
  .{props-spacing-margin-class}-{prop}
    margin-scope(prop)

  .{props-spacing-margin-class}{prefix-top}-{prop}
    margin-top-scope(prop)

  .{props-spacing-margin-class}{prefix-right}-{prop}
    margin-right-scope(prop)

  .{props-spacing-margin-class}{prefix-bottom}-{prop}
    margin-bottom-scope(prop)

  .{props-spacing-margin-class}{prefix-left}-{prop}
    margin-left-scope(prop)

  .{props-spacing-margin-class}{prefix-x}-{prop}
    margin-x-scope(prop)

  .{props-spacing-margin-class}{prefix-y}-{prop}
    margin-y-scope(prop)


for prop in (props-spacing-padding-values)
  .{props-spacing-padding-class}-{prop}
    padding-scope(prop)

  .{props-spacing-padding-class}{prefix-top}-{prop}
    padding-top-scope(prop)

  .{props-spacing-padding-class}{prefix-right}-{prop}
    padding-right-scope(prop)

  .{props-spacing-padding-class}{prefix-bottom}-{prop}
    padding-bottom-scope(prop)

  .{props-spacing-padding-class}{prefix-left}-{prop}
    padding-left-scope(prop)

  .{props-spacing-padding-class}{prefix-x}-{prop}
    padding-x-scope(prop)

  .{props-spacing-padding-class}{prefix-y}-{prop}
    padding-y-scope(prop)


for prop in (props-spacing-counter_min..props-spacing-counter_max)
  .{props-spacing-margin-class}-{prop}
    margin-scope(prop)

  .{props-spacing-margin-class}{prefix-top}-{prop}
    margin-top-scope(prop)

  .{props-spacing-margin-class}{prefix-right}-{prop}
    margin-right-scope(prop)

  .{props-spacing-margin-class}{prefix-bottom}-{prop}
    margin-bottom-scope(prop)

  .{props-spacing-margin-class}{prefix-left}-{prop}
    margin-left-scope(prop)

  .{props-spacing-margin-class}{prefix-x}-{prop}
    margin-x-scope(prop)

  .{props-spacing-margin-class}{prefix-y}-{prop}
    margin-y-scope(prop)

  .{props-spacing-padding-class}-{prop}
    padding-scope(prop)

  .{props-spacing-padding-class}{prefix-top}-{prop}
    padding-top-scope(prop)

  .{props-spacing-padding-class}{prefix-right}-{prop}
    padding-right-scope(prop)

  .{props-spacing-padding-class}{prefix-bottom}-{prop}
    padding-bottom-scope(prop)

  .{props-spacing-padding-class}{prefix-left}-{prop}
    padding-left-scope(prop)

  .{props-spacing-padding-class}{prefix-x}-{prop}
    padding-x-scope(prop)

  .{props-spacing-padding-class}{prefix-y}-{prop}
    padding-y-scope(prop)


for prop in (props-spacing-margin-counterNeg_min..props-spacing-margin-counterNeg_max)
  .{props-spacing-margin-class}-{prefix-negative}{prop}
    margin-scope(prop, true)

  .{props-spacing-margin-class}{prefix-top}-{prefix-negative}{prop}
    margin-top-scope(prop, true)

  .{props-spacing-margin-class}{prefix-right}-{prefix-negative}{prop}
    margin-right-scope(prop, true)

  .{props-spacing-margin-class}{prefix-bottom}-{prefix-negative}{prop}
    margin-bottom-scope(prop, true)

  .{props-spacing-margin-class}{prefix-left}-{prefix-negative}{prop}
    margin-left-scope(prop, true)

  .{props-spacing-margin-class}{prefix-x}-{prefix-negative}{prop}
    margin-x-scope(prop, true)

  .{props-spacing-margin-class}{prefix-y}-{prefix-negative}{prop}
    margin-y-scope(prop, true)
