visibility-responsive-scope(key)
  if (utilities-enabled && utilities-visibility-enabled && utilities-visibility-responsive)
    for prop in (utilities-visibility-values)
      .{prefix-global}{utilities-visibility-class}-{key}-{prop}
        visibility-scope(prop)
