for prop in (props-visibility-values)
  .{props-visibility-class}-{prop}
    visibility-scope(prop)

  for key, value in breakpoints
    @media screen and (min-width: value)
      .{props-visibility-class}-{key}-{prop}
        visibility-scope(prop)
