if (ui-enabled && ui-button-enabled)
  .{prefix-global}{ui-button-class}
    button-size-variant(ui-button-size-default-height, ui-button-size-default-padding, ui-button-size-default-font-size, ui-button-size-default-line-height)
    button-base()
    text-truncate()

    if ui-button-size-enabled
      &.{ui-button-size-small-prefix}
        button-size-variant(ui-button-size-small-height, ui-button-size-small-padding, ui-button-size-small-font-size, ui-button-size-small-line-height)

      &.{ui-button-size-large-prefix}
        button-size-variant(ui-button-size-large-height, ui-button-size-large-padding, ui-button-size-large-font-size, ui-button-size-large-line-height)

    if ui-button-palette-enabled
      for key, value in palette
        if key != 'default' // Ignored 'default' color
          &.{key}
            button-color-variant(
              colors[key][0], colors[key][1], colors[key][2],
              shade(colors[key][0], 15%), colors[key][1], shade(colors[key][2], 20%),
              darken(colors[key][0], 10%), colors[key][1], darken(colors[key][2], 10%),
              alpha(colors[key][0], .15), colors[key][1], alpha(colors[key][2], .15)
            )

          if ui-button-palette-outline-enabled
            &.{key}-{ui-button-palette-outline-prefix}
              button-color-variant(
                transparent, colors[key][0], colors[key][2],
                alpha(colors[key][1], .95), colors[key][0], darken(colors[key][2], 7.5%),
                alpha(colors[key][1], .85), colors[key][0], darken(colors[key][2], 10%),
                alpha(colors[key][1], .8), colors[key][0], alpha(colors[key][2], .15)
              )
