if (ui-enabled && ui-card-enabled)
  .{prefix-global}{ui-card-class}
    card-base(0, 0)

    &-heading
      card-block-base(spacer)

    &-body
      card-body-base(spacer)

    &-actions
      card-block-base(spacer)
