if (ui-enabled && ui-card-enabled)
  .{prefix-global}{ui-card-class}
    card-base(0, 0)

    if (ui-enabled && ui-divider-enabled)
      & > .{prefix-global}{ui-divider-class}, hr
        margin-top: 0
        margin-bottom: 0

    &-heading
      card-block-base(spacer)

    &-body
      card-body-base(spacer)

    &-actions
      card-block-base(spacer)
