container-responsive-scope(key)
  .{prefix-global}{ui-container-class}-{key}
    container-base(spacer / 2, containers[key])

  .{prefix-global}{ui-container-class}-{key}, .{prefix-global}{ui-container-class}
    {utilities-sizing-max-width-property}: containers[key]
