if (ui-enabled && ui-divider-enabled)
  .{prefix-global}{ui-divider-class}, hr
    margin: spacer 0
    display: block
    border: 0
    border-top-color: palette-default
    border-top-width: base-border-width
    border-top-style: base-border-style
