palette = {
  default: palette-default,
  primary: palette-primary,
  secondary: palette-secondary,
  success: palette-success,
  info: palette-info,
  warning: palette-warning,
  error: palette-error,
  light: palette-light,
  dark: palette-dark,
}

colors = {
  default: (palette-default palette-light palette-default)
  primary: (palette-primary palette-light palette-primary)
  secondary: (palette-secondary palette-light palette-secondary)
  success: (palette-success palette-light palette-success)
  info: (palette-info palette-light palette-info)
  warning: (palette-warning palette-light palette-warning)
  error: (palette-error palette-light palette-error)
  light: (palette-light palette-dark palette-light)
  dark: (palette-dark palette-light palette-dark)
}
