if (helpers-enabled && helpers-stack-enabled)
  .{prefix-global}{helpers-stack-class}-{suffix-vertical}
    display: flex
    flex-direction: column
    align-self: stretch
    flex: 1 1 auto

  .{prefix-global}{helpers-stack-class}-{suffix-horizontal}
    display: flex
    flex-direction: row
    align-self: stretch
    align-items: center
