visually-hidden-responsive-scope(key)
  if (helpers-enabled && helpers-visually-hidden-enabled && helpers-visually-hidden-responsive)
    .{prefix-global}{helpers-visually-hidden-class}-{key},
    .{prefix-global}{helpers-visually-hidden-class}-{suffix-focusable}-{key}:not(:focus):not(:focus-within)
      visually-hidden()
