if (rules-body)
  html
    font-size: base-font-size
    font-family: base-font-family
    line-height base-font-line-height
    font-weight: base-font-weight

  body
    font-size: spacer

  html, body
    height: 100%

  a
    color: base-link

    &:hover
      color: darken(base-link, 25%)
