if (import-body)
  html
    font-size: base-font-size
    font-family: base-font-family
    line-height base-font-line-height
    font-weight: base-font-weight

  html, body
    width: 100%
    height: 100%

  a
    color: link.base

    &:hover
      color: link.hovered

    &:visited,
    &:visited:hover
      color: link.visited
