if (import-root)
  prefix = root_prefix + prefix-variable

  :root
    // Base
    {prefix}-spacer: spacer
    {prefix}-font-family: base-font-family
    {prefix}-font-size: base-font-size
    {prefix}-line-height: base-font-line-height
    {prefix}-link: link_base
    {prefix}-link-hovered: link_hovered
    {prefix}-link-visited: link_visited


    // Breakpoints
    for key, value in (breakpoints)
      if key != 'xs' // Ignored 'XS' scope
        {prefix}-breakpoint-{key}: value


    // Containers
    for key, value in (containers)
      if key != 'xs' // Ignored 'XS' scope
        {prefix}-container-{key}: value


    // Palette
    for key, value in palette
      {prefix}-color-{key}: value

