for key, value in (breakpoints)
  @media screen and (min-width: value)

    // Display
    if props-display-responsive
      for prop in (props-display-values)
        .{prefix-global}{props-display-class}-{key}-{prop}
          display-scope(prop)

    // Flex
    // Direction
    if props-flex-direction-responsive
      for prop in (props-flex-direction-values)
        .{prefix-global}{props-flex-direction-class}-{key}-{prop}
          flex-direction-scope(prop)

    // Justify content
    if props-flex-justify-content-responsive
      for prop in (props-flex-justify-content-values)
        .{prefix-global}{props-flex-justify-content-class}-{key}-{prop}
          flex-justify-content-scope(prop)

    // Justify items
    if props-flex-justify-items-responsive
      for prop in (props-flex-justify-items-values)
        .{prefix-global}{props-flex-justify-items-class}-{key}-{prop}
          flex-justify-items-scope(prop)

    // Justify self
    if props-flex-justify-self-responsive
      for prop in (props-flex-justify-self-values)
        .{prefix-global}{props-flex-justify-self-class}-{key}-{prop}
          flex-justify-self-scope(prop)

    // Align content
    if props-flex-align-content-responsive
      for prop in (props-flex-align-content-values)
        .{prefix-global}{props-flex-align-content-class}-{key}-{prop}
          flex-align-content-scope(prop)

    // Align items
    if props-flex-align-items-responsive
      for prop in (props-flex-align-items-values)
        .{prefix-global}{props-flex-align-items-class}-{key}-{prop}
          flex-align-items-scope(prop)

    // Align self
    if props-flex-align-self-responsive
      for prop in (props-flex-align-self-values)
        .{prefix-global}{props-flex-align-self-class}-{key}-{prop}
          flex-align-self-scope(prop)

    // Fill
    if props-flex-fill-responsive
      .{prefix-global}{props-flex-fill-class}-{key}
        flex-fill-scope()

    // Grow
    if props-flex-grow-responsive
      for prop in (props-flex-grow-values)
        .{prefix-global}{props-flex-grow-class}-{key}-{prop}
          flex-grow-scope(prop)

      for prop in (props-flex-grow-counter_min..props-flex-grow-counter_max)
        .{prefix-global}{props-flex-grow-class}-{key}-{prop}
          flex-grow-scope(prop)

    // Shrink
    if props-flex-shrink-responsive
      for prop in (props-flex-shrink-values)
        .{prefix-global}{props-flex-shrink-class}-{key}-{prop}
          flex-shrink-scope(prop)

      for prop in (props-flex-shrink-counter_min..props-flex-shrink-counter_max)
        .{prefix-global}{props-flex-shrink-class}-{key}-{prop}
          flex-shrink-scope(prop)

    // Wrap
    if props-flex-wrap-responsive
      for prop in (props-flex-wrap-values)
        .{prefix-global}{props-flex-wrap-class}-{key}-{prop}
          flex-wrap-scope(prop)

    // Order
    if props-flex-order-responsive
      .{prefix-global}{props-flex-order-class}-{key}-{suffix-first}
        flex-order-scope((props-flex-order-counter_min - 1))

      .{prefix-global}{props-flex-order-class}-{key}-{suffix-last}
        flex-order-scope((props-flex-order-counter_max + 1))

      for prop in (props-flex-order-counter_min..props-flex-order-counter_max)
        .{prefix-global}{props-flex-order-class}-{key}-{prop}
          flex-order-scope(prop)

    // Float
    if props-float-responsive
      for prop in (props-float-values)
        .{prefix-global}{props-float-class}-{key}-{prop}
          float-scope(prop)

    // Spacing
    // Margin
    if props-spacing-margin-responsive
      for prop in (props-spacing-margin-values)
        .{prefix-global}{props-spacing-margin-class}-{key}-{prop}
          margin-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-top}-{key}-{prop}
          margin-top-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-right}-{key}-{prop}
          margin-right-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-bottom}-{key}-{prop}
          margin-bottom-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-left}-{key}-{prop}
          margin-left-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-x}-{key}-{prop}
          margin-x-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-y}-{key}-{prop}
          margin-y-scope(prop)

      for prop in (props-spacing-counter_min..props-spacing-counter_max)
        .{prefix-global}{props-spacing-margin-class}-{key}-{prop}
          margin-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-top}-{key}-{prop}
          margin-top-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-right}-{key}-{prop}
          margin-right-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-bottom}-{key}-{prop}
          margin-bottom-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-left}-{key}-{prop}
          margin-left-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-x}-{key}-{prop}
          margin-x-scope(prop)

        .{prefix-global}{props-spacing-margin-class}{suffix-y}-{key}-{prop}
          margin-y-scope(prop)

      // Margin negative
      for prop in (props-spacing-margin-counterNeg_min..props-spacing-margin-counterNeg_max)
        .{prefix-global}{props-spacing-margin-class}-{key}-{suffix-negative}{prop}
          margin-scope(prop, true)

        .{prefix-global}{props-spacing-margin-class}{suffix-top}-{key}-{suffix-negative}{prop}
          margin-top-scope(prop, true)

        .{prefix-global}{props-spacing-margin-class}{suffix-right}-{key}-{suffix-negative}{prop}
          margin-right-scope(prop, true)

        .{prefix-global}{props-spacing-margin-class}{suffix-bottom}-{key}-{suffix-negative}{prop}
          margin-bottom-scope(prop, true)

        .{prefix-global}{props-spacing-margin-class}{suffix-left}-{key}-{suffix-negative}{prop}
          margin-left-scope(prop, true)

        .{prefix-global}{props-spacing-margin-class}{suffix-x}-{key}-{suffix-negative}{prop}
          margin-x-scope(prop, true)

        .{prefix-global}{props-spacing-margin-class}{suffix-y}-{key}-{suffix-negative}{prop}
          margin-y-scope(prop, true)

    // Padding
    if props-spacing-padding-responsive
      for prop in (props-spacing-padding-values)
        .{prefix-global}{props-spacing-padding-class}-{key}-{prop}
          padding-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-top}-{key}-{prop}
          padding-top-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-right}-{key}-{prop}
          padding-right-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-bottom}-{key}-{prop}
          padding-bottom-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-left}-{key}-{prop}
          padding-left-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-x}-{key}-{prop}
          padding-x-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-y}-{key}-{prop}
          padding-y-scope(prop)

      for prop in (props-spacing-counter_min..props-spacing-counter_max)
        .{prefix-global}{props-spacing-padding-class}-{key}-{prop}
          padding-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-top}-{key}-{prop}
          padding-top-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-right}-{key}-{prop}
          padding-right-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-bottom}-{key}-{prop}
          padding-bottom-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-left}-{key}-{prop}
          padding-left-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-x}-{key}-{prop}
          padding-x-scope(prop)

        .{prefix-global}{props-spacing-padding-class}{suffix-y}-{key}-{prop}
          padding-y-scope(prop)

    // Text
    // Text align
    if props-text-align-responsive
      for prop in (props-text-align-values)
        .{prefix-global}{props-text-align-class}-{key}-{prop}
          text-align-scope(prop)

    // Visibility
    if props-visibility-responsive
      for prop in (props-visibility-values)
        .{prefix-global}{props-visibility-class}-{key}-{prop}
          visibility-scope(prop)

    // Helpers
    // Visually hidden
    if helpers-visually-hidden-responsive
      .{prefix-global}{helpers-visually-hidden-class}-{key},
      .{prefix-global}{helpers-visually-hidden-class}-{suffix-focusable}-{key}:not(:focus):not(:focus-within)
        visually-hidden()
