for key, value in (breakpoints)
  @media screen and (min-width: value)

    // Display
    display-responsive-scope(key)

    // Flex
    flex-responsive-scope(key)

    // Float
    float-responsive-scope(key)

    // Spacing
    spacing-responsive-scope(key)

    // Sizing
    sizing-responsive-scope(key)

    // Text
    text-responsive-scope(key)

    // Visibility
    visibility-responsive-scope(key)

    // Helpers
    visually-hidden-responsive-scope(key)

    // UI
    container-responsive-scope(key)
