json('../config.json')

spacer = base-spacer
breakpoints = {
  xs: breakpoints-xs,
  sm: breakpoints-sm,
  md: breakpoints-md,
  lg: breakpoints-lg,
  xl: breakpoints-xl,
  xxl: breakpoints-xxl,
}
containers = {
  xs: ui-container-max-width-xs,
  sm: ui-container-max-width-sm,
  md: ui-container-max-width-md,
  lg: ui-container-max-width-lg,
  xl: ui-container-max-width-xl,
  xxl: ui-container-max-width-xxl,
}
palette = {
  default: palette-default,
  primary: palette-primary,
  secondary: palette-secondary,
  success: palette-success,
  info: palette-info,
  warning: palette-warning,
  error: palette-error,
  light: palette-light,
  dark: palette-dark,
}

